<form action="" method="post">
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" [(ngModel)] = "loginObj.username" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" [(ngModel)] = "loginObj.password" required>
      <div>
      <label *ngIf="!isSignUp" for="psw-repeat"><b>Repeat Password</b>
        </label>
        <input *ngIf="!isSignUp" type="password" [(ngModel)] = "loginObj.repass" placeholder="Repeat Password" name="psw-repeat" required>
        
      </div>
      <div>
        

      </div>
      <button type="submit" *ngIf="isSignUp"(click) = "onLogin()">Login</button>
      
      
      <button type="submit" *ngIf="!isSignUp"(click) = "onSignUp()">Sign Up</button>
      
    </div>
  
    <div class="container" style="background-color:#fbfbfb">
      <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
      <button style="background-color:#0924f0" (click) = "onChangeSignUp()"  *ngIf="isSignUp">Sign Up</button>
      <button style="background-color:#0924f0" (click) = "onChangeSignUp()"  *ngIf="!isSignUp">Sign In</button>
    </div>
  </form>